.register-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .register-card,
  form {
    display: flex;
    flex-direction: column;
  }
}
