<div class="events-container">
  <div class="controls">
    <div class="filter-controls">
      <select [(ngModel)]="selectedCategory" (change)="onFilterChange()" class="category-select">
        <option *ngFor="let category of categories$ | async" [value]="category">
          {{ category }}
        </option>
      </select>

      <input
        type="text"
        [(ngModel)]="searchQuery"
        (input)="onFilterChange()"
        placeholder="Search events..."
        class="search-input"
      />
    </div>
  </div>

  @if (isLoading$ | async) {
    <div class="loading-spinner">Loading events...</div>
  } @else {
    <div class="cards-container">
      @for (event of paginatedEvents$ | async; track event.id) {
        <app-card
          [imageUrl]="event.images[0].url"
          [imageAlt]="event.name"
          [title]="event.name"
          [description]="event.description"
          [price]="event.price"
          [date]="event.date"
          [category]="event.category"
          [eventId]="event.id"
          (navToDetail)="navToDetail($event)"
        >
        </app-card>
      }
    </div>
  }

  @if (error$ | async; as error) {
    <div class="error-message">{{ error }}</div>
  }
</div>
